#Variáveis de ambiente
/.vscode
/venv
*.pyc
__pycache__
*.pyo
*.pyd
.Python
db.sqlite3
.env
*.env
*.DS_Store
*.egg-info
*.egg
*.log

#Modelos e resultados
*.keras
*.h5
*.weigths.h5
*.npy

#Logs
*.v2

#Imagens
*.png
*.jpeg